PG_USER=TonUserDB
PG_PASSWORD=TonMDPSuperSecretDB
PG_HOST=TonHost
PG_PORT=5432
PG_DATABASE=LeNomDeTaDB

APP_PORT=TonSuperPort

ENCRYPTION_ROUND= xx

JWT_SECRET=VotrePhraseSuperSecrete

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASS=your_secure_password
SMTP_FROM=no-reply@checkmate.api